#forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Isso ajuda a centralizar verticalmente */
}

 /* Estilos gerais da página */
 body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos da barra de navegação */
.navbar {
    background-color: #46ACC2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    position: relative;
}

/* Estilos do título da página */
.navbar__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos do ícone do menu do tipo sanduíche */
.navbar__icon {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos das linhas do ícone do menu do tipo sanduíche */
.navbar__icon-line {
    width: 100%;
    height: 4px;
    background-color: white;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
}

/* Estilos do menu suspenso */
.navbar__menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

/* Estilos dos itens do menu suspenso */
.navbar__menu-item {
    display: block;
    padding: 15px;
    color: #333333;
    text-decoration: none;
}

/* Estilos dos itens do menu suspenso ao passar o mouse */
.navbar__menu-item:hover {
    background-color: #eeeeee;
}

/* Estilos para a barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }
  
  /* Estilos para os itens da barra de navegação */
  .navbar-item {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para os itens do dropdown */
  .navbar-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
    z-index: 1;
  }
  
  .navbar-item.has-dropdown:hover .navbar-dropdown {
    display: block;
  }
  