<!DOCTYPE html>

<html lang="en">

<head>
    <!-- <meta http-equiv = "refresh" content = "1"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Aplicação web de controle de dispositivos inteligentes</h1>
    <div class="container">
        <div class="card" id="lampada">
        <h2>Lâmpada</h2>
        <p>Status: Desligada</p>
        <button>Ligar/Desligar</button>
        <button>Remover</button>
    </div>
    <div class="card" id="ar">
        <h2>Ar-condicionado</h2>
        <p>Temperatura: 25°C</p>
        <button>Aumentar/Diminuir</button>
        <button>Remover</button>
    </div>
    <div class="card" id="cafe">
        <h2>Cafeteira</h2>
        <p>Modo: Normal</p>
        <button>Fazer café</button>
        <button>Remover</button>
    </div>
    <div class="add" id="add">
        <h2>Adicionar dispositivo</h2>
        <button>+</button>
        </div>
    </div>
</body>

</html>